<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

    <suite name="Test Suite" parallel="methods" thread-count="8">
    <test name="Seguros Bolivar Test">
        <parameter name="browser" value="chrome"/>
        <parameter name="version" value="89"/>
        <parameter name="platform" value="WIN10"/>
        <classes>
            <class name="com.segurosbolivar.automation.tests.publishRealState.RunnerPublishRealState"/>
            <class name="com.segurosbolivar.automation.tests.publishNaturalPerson.RunnerNaturalPerson"/>
        </classes>
    </test>
        <test name="TestMozilla">
            <parameter name="browser" value="firefox"/>
            <parameter name="version" value="86.0"/>
            <parameter name="platform" value="WIN10"/>
            <classes>
                <class name="com.segurosbolivar.automation.tests.publishRealState.RunnerPublishRealState"/>
                <class name="com.segurosbolivar.automation.tests.publishNaturalPerson.RunnerNaturalPerson"/>
            </classes>
        </test>

        <test name="TestMobileIphoneX">
            <parameter name="deviceName" value="iPhone X"/>
            <parameter name="version" value="14.2"/>
            <parameter name="platform" value="iOS"/>
            <classes>
                <class name="com.segurosbolivar.automation.tests.publishRealState.RunnerPublishRealState"/>
                <class name="com.segurosbolivar.automation.tests.publishNaturalPerson.RunnerNaturalPerson"/>
            </classes>
        </test>
    </suite>

